!.gitignore
bin/.home
bin/.repositories
bin/uploads
bin/.config
bin/7z.exe
bin/.appdata
bin/android-sdk
bin/chrome
bin/git
bin/ant
bin/heidiSQL
bin/im
bin/jdk
bin/node_modules/*
bin/heidiSQL
!bin/node_modules/authom
!bin/node_modules/db
!bin/node_modules/api
bin/npm
bin/tmp
bin/node.exe
bin/editor
bin/git.7z
bin/node
bin/editor
bin/7z
bin/mysql
workspace
packages
apps
omneedia.github.io
tpl.omneedia.production
tpl.omneedia.webapp
upnpc
upnpc.exe
omneedia-core
omneedia-prod
archives